/* * Global */

body {
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #2f281e;
}

/* * Wrapper */

.wrapper {
  width: min(calc(100% - 30px), 1230px);
  margin: 0 auto;
}

/* * Header */

.home {
  padding: 15px;
}

.header {
  min-height: 80px;
}

.header--container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Header navigation */

.navigation-link {
  padding: 10px;
  display: flex;
  transition: all 0.15s ease-in 0s;
  color: #2f281e;
}

.navigation-link:hover {
  color: #ff9900;
}

.navigation-list {
  align-items: center;
  display: flex;
}

/*  Header buttons */

.header-button {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button {
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  height: 45px;
  display: flex;
  gap: 30px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.15s ease-in 0s;
}

.button-text {
  font-size: 16px;
  font-weight: 600;
}

/* * Buttons */

.button--orange,
.section--button,
.features--button {
  background-color: #ff9900;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ff9900;
}

.section--button {
  padding: 0 43px;
}

.button:hover {
  color: #ff9900;
  background-color: #f8f0e4;
  border-color: #ff9900;
}

/* * Main */
.main-content {
  padding-top: 70px;
}

/* * Section first */

.section-wrapper {
  display: flex;
  align-items: center;
  gap: 55px;
}

.section-text {
  max-width: 500px;
  width: 100%;
}

.section-title {
  font-size: 44px;
}

.section-image {
  display: flex;
  width: 100%;
}

.section-paragraph {
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
